/* Basic Css styling layout and defaults for page */

html {
    font-size: 16px;
}

.wrapper {
    width: 80%;
    margin: auto;
    margin-bottom: 1%;
    background-color: rgb(229, 248, 252);
}

body {
    background-color: rgb(177,61,20);
}

h1 {
    font-size: 400%;
}

h2 {
    font-size: 200%;
    padding-bottom: 10px;
}

h3 {
    font-size: 150%;
    padding: 20px 0px 10px 0px;
}

main {
    padding: 35px 0.5% 0 0.5%;
}

/* Css Styling for header section */

.headerstage {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.redpand1 {
    /* object-fit: cover; */
    /* object-position: 50% 50% ; */
    /* height: 300px; */
    /* overflow: hidden; */
    position: relative;
    max-width: 200px;
    margin: auto;
    background-color: brown;
}

img {
    width: 100%;
    height: auto;
    box-sizing:border-box;
}

.sitetitle {
    position: absolute;
    top: 40%;
    width: 100%;
        /* text-align: center; */
        text-align: left;  
        padding-left: 5%;
    color: rgb(229, 248, 252);
}

/* Css styling for navigation bar within header */

nav {
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
}
     
nav li {
    font-size: 150%;
    width: 32.8%;
    display: inline-block;
    text-align: center;
    border-right: 1px solid black;
}

/* Css styling for image and main article under nav bar */

article img {
    width: max-content;
    height: auto;
    box-sizing: border-box;
}

.float img {
    width: 200px;
    height: auto;
    float: left;
    margin-right: 10px;
    padding: 0px 10px 10px 0px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* list section */

main ul {
    padding-left: 2.5%;
}


/* form box css */

.formbox {
    border: 1px solid black;
    padding: 2.5% 1.5%;
}

.forms input, textarea {
    margin-bottom: 1.5%;
    width: 100%;
}

textarea {
    height: 80px;
}

form p {
    font-size: 130%;
    margin: 1.5% 0%;
}

.button {
    margin: 1.5% 0%;
}

/* footer */

footer {
    text-align: right;
    padding: 4%;
}