/* Basic Css styling layout and defaults for page */
        /* This Css is used as a large basic/default layout that the CSS will be referring from */
html {
    font-size: 16px;
}

.wrapper {
    width: 80%;
    margin: auto;
    margin-bottom: 1%;
    background-color: rgb(229, 248, 252);
}

body {
    background-color: rgb(177,61,20);
}

h1 {
    font-size: 400%;
}

h2 {
    font-size: 200%;
    padding-bottom: 10px;
}

h3 {
    font-size: 150%;
    padding: 20px 0px 10px 0px;
}

main {
    padding: 35px 0.5% 0 0.5%;
}

/* Css Styling for header section */
        /* Position image within wrapper, and position h1 ontop of image */

.headerstage {
    position: relative;
}

.redpand1 {
    position: relative;
    max-width: 200px;
    background-color: brown;
}

img {
    width: 100%;
    height: auto;
    box-sizing:border-box;
}

.sitetitle {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: rgb(229, 248, 252);
}

/* Css styling for navigation bar within header */
        /* Display the UL and list items into an inline block and add a right border to create seperation lines, center words */
nav {
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
}
     
nav li {
    font-size: 150%;
    width: 32.8%;
    display: inline-block;
    text-align: center;
    border-right: 1px solid black;
}

/* Css styling for image and the main article under nav bar */
        /* Float image over ontop left side of wrapper with margin around it */
article img {
    width: max-content;
    height: auto;
    box-sizing: border-box;
}

.float img {
    width: 200px;
    height: auto;
    float: left;
    margin-right: 10px;
    padding: 0px 10px 10px 0px;
}
        /* add "clearfix" class and CSS syntax to the floated image to allow text to wrap around image on top */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* list section */
        /* Delete the "list-style-none" syntax from the CSS Reset page to use deafult list settings for this list, Position ul so that the default bullet points lay within rapper */
main ul {
    padding-left: 2.5%;
}


/* form box css */
        /* Create div and class to the forms section of HTML to add a border to create the visual box on page, add padding to create space between form box and the wrapper's side */
.formbox {
    border: 1px solid black;
    padding: 2.5% 1.5%;
}

.forms input, textarea {
    margin-bottom: 1.5%;
    width: 100%;
}

textarea {
    height: 80px;
}

form p {
    font-size: 130%;
    margin: 1.5% 0%;
}

        /* use Button class to specifically leave the Send Buttun as default */
.button {
    margin: 1.5% 0%;
}

/* footer */
        /* move copywright tag to far right of wrapper with padding */
footer {
    text-align: right;
    padding: 4%;
}